<section class="section advantage">
    <div class="container">
      <!-- Невидимий заголовок -->
      <h2 class="visually-hidden">Наші переваги</h2>
      <!-- Кнопки -->
  
      <!-- КАРТКИ -->
      <h2 class="advantage__title">Our advantages</h2>
      <ul class="advantage__list">

        <li class="advantage__item">
          <a class="advantage__link" href="#">
            <div class="advantage__card">
              <img
                src="./images/img_advantage/photo_2022-09-14_19-01-44.jpg"
                alt=""
                class="advantage__img"
              />
              <div class="advantage__bcg">
                  <div>
                    <h2>Education:</h2>
                      <ul class="advantage__bcg-list">
                    <li>
                      Sumy Lyceum of spheres and services;
                    </li>
                    <li>
                      Hairdresser-fashion designer (honors degree);
                    </li>
                    <li>
                      Kyiv National Institute of Culture and Art;
                    </li>
                    <li>
                      Hair designer (master's degree);
                    </li>
                      </ul>
                  </div>
                  <div>
                    <h2>Work experience:</h2>
                      <ul class="advantage__bcg-list">
                    <li>
                      2007 - 2003 - Worked in hair salons in Sumy and Kyiv (men's, women's, children's haircuts and hair coloring);
                    </li>
                    <li>
                      2007 - 2012 - "Mojo" image studio, "Leto" hairdressing salon, Kyiv (haircuts, various dyeing techniques, styling, camouflage of gray hair, keratin hair straightening, bio-perm, restoration, treatment);
                    </li>
                    <li>
                      2012 – 2021 – Director and leading stylist of the beauty studio "SAIS" in Kyiv;
                    </li>
                    <li>
                      2021 – present time - director of the "De Lacrua" beauty salon.
                    </li>
                      </ul>
                  </div>
              </div>
            </div>
            <div class="advantage__card-name">
              <h2 class="title">Professional activity</h2>
            </div></a>
        </li>
        <li class="advantage__item">
          <a class="advantage__link" href="#">
            <div class="advantage__card">
              <img
                src="./images/img_advantage/photo_2022-09-14_19-02-01.jpg"
                alt=""
                class="advantage__img"
              />
              <div class="advantage__bcg">
                <div>
                  <h2>2007- 2012  in her spare time, she was engaged in teaching activities</h2>
                    <ul class="advantage__bcg-list">
                  <li>
                    in the training center ART Ukraine - hairdressing art (2 years),
                  </li>
                  <li>
                    Vlada Lytovchenko's "Karin" school - hair care, basic hairstyles, styling (2 years).                
                  </li>
                    </ul>
                </div>
                <div>
                  <h2>2018 – 2022 </h2>
                    <ul class="advantage__bcg-list">
                  <li>
                    in the academy "HAIRDESIGN" - teacher of hairdressing.
                  </li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="advantage__card-name">
              <h2 class="title">Teaching activity</h2>
            </div></a>
        </li>
        <li class="advantage__item">
          <a class="advantage__link" href="#">
            <div class="advantage__card">
              <img
                src="./images/img_advantage/photo_2022-09-14_19-02-04.jpg"
                alt=""
                class="advantage__img"
              />
              <div class="advantage__bcg">
                <p class="advantage__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quidem magni ad optio. Rem consequatur quasi aliquid nisi veritatis quisquam cumque ad vitae similique labore. Rerum exercitationem non commodi harum?
                </p>
              </div>
            </div>
            <div class="advantage__card-name">
              <h2 class="title">Diplomas/Awards</h2>
            </div></a>
        </li>
      </ul>
    </div>
  </section>