<section>cosmo</section>
<!--Логотипы брендов косметики-->
<section class="clients section">
    <div class="clients__wrapper container">

        <h2 class="clients__title list visually-hidden">Logo cosmetics</h2>
        <ul class="clients__list list">

            <li class="clients__item list">
                <a href="" class="clients__link">
                    <svg class="clients__icon" width="90" height="80">

                        <use class="use" href="./images/cosmo/logocosmet.svg#icon-alpecincb"></use>
                    </svg>
                </a>
            </li>

            <li class="clients__item list">
                <a href="" class="clients__link">
                    <svg class="clients__icon" width="90" height="80">
                        <use href="./images/cosmo/logocosmet.svg#icon-bes_logo"></use>
                    </svg>
                </a>
            </li>

            <li class="clients__item list">
                <a href="" class="clients__link">
                    <svg class="clients__icon" width="80" height="90">
                        <use href="./images/cosmo/logocosmet.svg#icon-crew-1"></use>
                    </svg>
                </a>
            </li>

            <li class="clients__item list">
                <a href="" class="clients__link">
                    <svg class="clients__icon" width="96" height="90">
                        <use href="./images/cosmo/logocosmet.svg#icon-daylogo"></use>
                    </svg>
                </a>
            </li>

            <li class="clients__item list">
                <a href="" class="clients__link">
                    <svg class="clients__icon" width="90" height="80">
                        <use href="./images/cosmo/logocosmet.svg#icon-coiffm"></use>
                    </svg>
                </a>
            </li>

            <li class="clients__item list">
                <a href="" class="clients__link">
                    <svg class="clients__icon" width="90" height="80">
                        <use class="use" href="./images/cosmo/logocosmet.svg#icon-redken"></use>
                    </svg>
                </a>
            </li>

        </ul>
    </div>
</section>
