<section>
  <section class="section container carrent__section">
    <div class="gallrey__descrip">
      <div class="gallrey__menu">
        <h1 class="gallrey__menu--text">Наши работы</h1>
      </div>
      <div class="nav__menu">
        <ul class="nav__list">
          <li class="nav__item">
            <p class="nav__item--text"> Показать все</p>
          </li>
          <li class="nav__item">
            <p class="nav__item--text">Парикмахерские услуги</p>
          </li>
          <li class="nav__item">
            <p class="nav__item--text">Маникюр</p>
          </li>
          <li class="nav__item">
            <p class="nav__item--text">Педикюр</p>
          </li>
        </ul>
      </div>
    </div>
    <!--Блок верхній жіночі фото    -->
    <div class="photo">
      <!--<div class="female__photo">-->
        <ul class="photo__list">
          <li class="female__item">
            <!--<picture class="female__picture">-->
              <!--<source class="female__source" srcset="
                  images/gallery/female(1).webp" />
              <source srcset="
                  images/gallery/female(1).jpg" />-->
              <img src="images/gallery/female(1).jpg" alt="фото женской прически" width="370" />
            <!--</picture>-->
            <!--<picture class="female__picture">
              <source class="female__source" srcset="
                  images/gallery/female(2).webp" />
              <source srcset="
                  images/gallery/female(2).jpg" />-->
              <img src="images/gallery/female(2).jpg" alt="фото женской прически" width="370" />
              <!--<picture class="female__picture">
                <source class="female__source" srcset="
                  images/gallery/female(3).webp" />
                <source srcset="
                  images/gallery/female(3).jpg" />-->
                <img src="images/gallery/female(3).jpg" alt="фото женской прически" width="370" />
              <!--</picture>
            </picture>-->
          </li>
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
    <!--Блок чоловічий фото    -->
    <!--<div class="photo">-->
      <!--<div class="mane__list">-->
        <!--<ul class="mane__list">-->
          <li class="mane__item">
            <!--<picture class="mane__picture">
              <source class="mane__source" srcset="
                  images/gallery/men(1).webp" />
              <source srcset="
                  images/gallery/men(1).jpg" />-->
              <img src="images/gallery/men(1).jpg" alt="фото муржской прически" width="370" />
            <!--</picture>-->
            <!--<picture class="mane__picture">
              <source class="mane__source" srcset="
                  images/gallery/men(2).webp" />
              <source srcset="
                  images/gallery/men(2).jpg" />-->
              <img src="images/gallery/men(2).jpg" alt="фото муржской прически" width="370" />
              <!--<picture class="mane__picture">
                <source class="mane__source" srcset="
                  images/gallery/men(3).webp" />
                <source srcset="
                  images/gallery/men(3).jpg" />-->
                <img src="images/gallery/men(3).jpg" alt="фото муржской прически" width="370" />
              <!--</picture>
            </picture>-->
          </li>
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
    <!--Блок низ жіночі фото    -->
    <!--<div class="photo">-->
      <!--<div class="female__photo">-->
        <!--<ul class="female__list">-->
          <li class="female__item">
            <!--<picture class="female__picture">
              <source class="female__source" srcset="
                  images/gallery/female(4).webp" />
              <source srcset="
                  images/gallery/female(4).jpg" />-->
              <img src="images/gallery/female(4).jpg" alt="фото женской прически" width="370" />
            <!--</picture>
            <picture class="female__picture">
              <source class="female__source" srcset="
                  images/gallery/female(5).webp" />
              <source srcset="
                  images/gallery/female(5).jpg" />-->
              <img src="images/gallery/female(5).jpg" alt="фото женской прически" width="370" />
              <!--<picture class="female__picture">
                <source class="female__source" srcset="
                  images/gallery/female(6).webp" />
                <source srcset="
                  images/gallery/female(6).jpg" />-->
                <img src="images/gallery/female(6).jpg" alt="фото женской прически" width="370" />
              <!--</picture>
            </picture>-->
          </li>
        </ul>
      <!--</div>-->
    </div>
  </section>