<section>
  <section class="section container carrent__section">
    <div class="gallrey__descrip">
      <div class="gallrey__menu">
        <h1 class="gallrey__menu--text">Our work</h1>
      </div>
      <div class="nav__menu">
        <ul class="nav__list">
          <li class="nav__item">
            <p class="nav__item--text">Show all</p>
          </li>
          <li class="nav__item">
            <p class="nav__item--text">Hairdressing services</p>
          </li>
          <li class="nav__item">
            <p class="nav__item--text">Manicure</p>
          </li>
          <li class="nav__item">
            <p class="nav__item--text">Pedicure</p>
          </li>
        </ul>
      </div>
    </div>
    <ul class="gallery">

    </ul>
  </section>