<section>
  <section class="section container carrent__section">
    <div class="gallrey__descrip">
      <div class="gallrey__menu">
        <h1 class="gallrey__menu--text">Our work</h1>
      </div>
      <div class="nav__menu">
        <ul class="nav__list">
          <li class="nav__item">
            <p class="nav__item--text">Show all</p>
          </li>
          <li class="nav__item">
            <p class="nav__item--text">Hairdressing services</p>
          </li>
          <li class="nav__item">
            <p class="nav__item--text">Manicure</p>
          </li>
          <li class="nav__item">
            <p class="nav__item--text">Pedicure</p>
          </li>
        </ul>
      </div>
    </div>
    <!--Блок верхній жіночі фото    -->
    <!--<ul class="gallery"></ul>-->
    <div class="photo">
      <!--<div class="female__photo">-->
      <ul class="gallery">
        <li><a class="gallery__item" src="images/gallery/female(1).jpg">
            <img class="gallery__image" src="images/gallery/female(1).jpg" alt="фото женской прически">
          </a></li>
        <li><a class="gallery__item" src="images/gallery/female(2).jpg">
            <img class="gallery__image" src="images/gallery/female(2).jpg" alt="фото женской прически">
          </a></li>
        <li><a class="gallery__item" src="images/gallery/female(3).jpg">
            <img class="gallery__image" src="images/gallery/female(3).jpg" alt="фото женской прически">
          </a></li>
        <li><a class="gallery__item" src="images/gallery/men(1).jpg">
            <img class="gallery__image" src="images/gallery/men(1).jpg" alt="фото муржской прически">
          </a></li>
        <li><a class="gallery__item" src="images/gallery/men(2).jpg">
            <img class="gallery__image" src="images/gallery/men(2).jpg">
          </a></li>
        <li><a class="gallery__item" src="images/gallery/men(3).jpg">
            <img class="gallery__image" src="images/gallery/men(3).jpg" alt="фото женской прически">
          </a></li>
        <li><a class="gallery__item" src="images/gallery/female(4).jpg">
            <img class="gallery__image" src="images/gallery/female(4).jpg" alt="фото женской прически">
          </a></li>
        <li><a class="gallery__item" src="images/gallery/female(5).jpg">
            <img class="gallery__image" src="images/gallery/female(5).jpg" alt="Nature Landscape">
          </a></li>
        <li><a class="gallery__item" src="images/gallery/female(6).jpg">
            <img class="gallery__image" src="images/gallery/female(6).jpg" alt="фото женской прически">
          </a></li>
      </ul>

    </div>
  </section>