<section class="hero section">

  <div class=" container container__hero">

    <div class="hero-bloc">
      <div class="bloc-content">
        <h2 class="bloc-content__titel">Beauty does not require victims. Beauty claims attention!</h2>
        <img class="hero-avatar" src="./images/hero/image.png" alt="foto" height="140" width="190">
        <button class="hero-btn" type=" submit">reserved time!</button>
      </div>
      <div class="bloc-text">
        <p "> At all times the secrets of veritable charm were accessible to only not many to masters. Appealing to us beauty salon,
        you and all your acquaintances able to make sure in that the servants of this temple of beauty enter in the number of
        such masters.</p>
          
        </div>
      </div>
    </div>

  </section>