<section class="section">
  <div class="price">
    <h3 class="price-title">PRICE LIST</h3>
    <ul class="price-list">
      <!-- __________________________________________________________________________________________________ -->
      <li class="price-item">
        <h4 class="price-item__title">Жіночі зачіски</h4>
        <img
          class="price-item__photo"
          src="/src/images/price/img-1_lg.webp"
          alt="фото"
        />
        <div class="price-content">
          <ul class="price-item__ul">
            <li class="price-item__li">
              <p class="price-item__text">
                Жіноча укладка1 ............ 1 000 hrv
              </p>
            </li>
            <li class="price-item__li">
              <p class="price-item__text">
                Жіноча укладка2 ............ 1 000 hrv
              </p>
            </li>
            <li class="price-item__li">
              <p class="price-item__text">
                Жіноча укладка3 ............ 1 000 hrv
              </p>
            </li>
            <li class="price-item__li">
              <p class="price-item__text">
                Жіноча укладка4 ............ 1 000 hrv
              </p>
            </li>
          </ul>
        </div>
      </li>
      <!-- _______________________________________________________________________________________________ -->
      <li class="price-item">
        <h4>Чоловічі/дитячі зачіски</h4>
        <img
          class="price-item__photo"
          src="/src/images/price/img-1_lg.webp"
          alt="фото"
        />
        <div class="price-content">
          <ul class="price-item__ul">
            <li class="price-item__li">
              <p class="price-item__text">
                Чоловічі укладка ............ 1 000 hrv
              </p>
            </li>
            <li class="price-item__li">
              <p class="price-item__text">
                Чоловічі укладка ............ 1 000 hrv
              </p>
            </li>
            <li class="price-item__li">
              <p class="price-item__text">
                Чоловічі укладка ............ 1 000 hrv
              </p>
            </li>
            <li class="price-item__li">
              <p class="price-item__text">
                Чоловічі укладка ............ 1 000 hrv
              </p>
            </li>
          </ul>
        </div>
      </li>
      <li class="price-item">
        <h4>Фарбування</h4>
        <img
          class="price-item__photo"
          src="/src/images/price/img-1_lg.webp"
          alt="фото"
        />
        <div class="price-content">
          <ul class="price-item__ul">
            <li class="price-item__li">
              <p class="price-item__text">Фарбування ............ 1 000 hrv</p>
            </li>
            <li class="price-item__li">
              <p class="price-item__text">Фарбування ............ 1 000 hrv</p>
            </li>
            <li class="price-item__li">
              <p class="price-item__text">Фарбування ............ 1 000 hrv</p>
            </li>
            <li class="price-item__li">
              <p class="price-item__text">Фарбування ............ 1 000 hrv</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
