.price-item {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-item__title {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 130%;
  color: #7a7070;
}
